sqlite:
  adapter: sqlite
  dbfile: nul_plugin_test.sqlite.db
sqlite3:
  adapter: sqlite3
  dbfile: nul_plugin_test.sqlite3.db
mysql:
  adapter: mysql
  host: localhost
  username: 
  password:
  database: nul_plugin_test